

/* .carousel-cell {
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
  flex-shrink: 0;
  flex-basis: 33%;
}
 */
/* .carousel-cell.size-180 { flex-basis: 180px; }
.carousel-cell.size-large { flex-basis: 75%; } */